<%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>
  <div class="container">
    <div class="row  ml-4 mt-4 mb-5">
      <div class="col-lg-3 text-center">
        <h4 class="text-color">会員情報編集</h4>
      </div>
      <div class="col-lg-9"></div>
    </div>
    <div class="form-row my-2">
      <div class="col-lg-2">
        <%= f.label :last_name, "氏名" %>
      </div>
      <div class="col-lg-3 ml-1">
        <%= f.text_field :last_name, class: "rounded" %>
      </div>
      <div class="col-lg-3 ml-1">
        <%= f.text_field :first_name, class: "rounded" %>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-2">
        <%= f.label :last_name_kana, "フリガナ" %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :last_name_kana, class: "rounded" %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :first_name_kana, class: "rounded" %>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-2">
        <%= f.label :postal_code, "郵便番号" %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :postal_code, class: "rounded" %>
      </div>
      <div class="col-lg-7"></div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-2">
        <%= f.label :address, "住所" %>
      </div>
      <div class="col-lg-10">
        <%= f.text_field :address, size: 85, class: "rounded" %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-2">
        <%= f.label :telephone_number, "電話番号" %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :telephone_number, class: "rounded" %>
      </div>
      <div class="col-lg-7"></div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-2">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :email, class: "rounded" %>
      </div>
      <div class="col-lg-7"></div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-3">
        <%= f.submit "編集内容を保存する", class: "btn btn-success btn-block" %>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-2">
        <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger " %>
      </div>
    </div>
  </div>
<% end %>