<div class="container">
  <div class="row mt-5 mb-4">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 ml-5">
      <h4 class="text-color text-center">マイページ</h4>
    </div>
    <div class="col-lg-9"></div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4><strong class="mr-4">登録情報</strong> <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success" %></h4>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-lg-7 ">
      <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="table-active">氏名</td>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <td class="table-active">カナ</td>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="table-active">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="table-active">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="table-active">電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="table-active">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-lg-5"></div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <h4><strong class="mr-5">配送先</strong> <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4><strong class="mr-4">注文履歴</strong> <%= link_to "一覧を見る", orders_path, class: "btn btn-primary " %></h4>
    </div>
  </div>
</div>