
  <div class="field">
    <%= f.label :商品画像 %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="field">
    <%= f.label :商品名 %>
    <%= f.text_field :name, placeholder: "商品名" %>
  </div>
  <div class="field">
    <%= f.label :商品説明 %>
    <%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %>
  </div>
  <div class="field">
    <%= f.label :ジャンル %>
    <%= f.collection_select :genre_id, genres, :id, :name, prompt: "--選択肢を選んでください--" %>
  </div>
  <div class="field">
    <%= f.label :税抜価格 %>
    <p><%= f.text_field :price, placeholder: "1000" %>円</p>
  </div>
  <div class="field">
    <p>販売ステータス</p>
    <%= f.radio_button :is_active, 'true' %>
    <%= f.label :is_active, '販売中', value: true %>
    <%= f.radio_button :is_active, 'false' %>
    <%= f.label :is_active, '販売停止中', value: false %>
  </div>