<h2>商品一覧</h2>
<!--新規登録ボタン-->
<div>
  <%= link_to new_admin_item_path do %>
    <i class="fa-thin fa-circle-plus"></i>
  <% end %>
</div>


<!--商品一覧-->
<table class="table table-borderless">
  <thead class="thead-light">
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td>
        <% if item.is_active?  %>
           <p class="text-success">販売中</p>
        <% else %>
            <p class="text-muted">販売停止中</p>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>