<h2>商品詳細</h2>

<div>
  <%= image_tag @item.get_image(300,200) %>
</div>

<div>
  <p>商品名 <%= @item.name %></p>
  <p>商品説明 <%= @item.introduction %></p>
  <p>ジャンル <%= @item.genre.name %></p>
  <p>税抜価格 <%= @item.price %></p>
  <% if @item.is_active? %>
    <p>販売ステータス  <span class="text-success font-weight-bold">販売中</span></p>
  <% else %>
    <p>販売ステータス  <span class="text-muted">販売停止中</span></p>
  <% end %>
</div>

<div>
  <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-sm btn-success" %>
</div>