<%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="container">
    <div class="row my-4">
      <div class="col-lg-3 text-center">
        <h4 class="text-color">管理者ログイン</h4>
      </div>
      <div class="col-lg-9"></div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-2"></div>
      <div class="col-lg-2">
        <%= f.label :email,"メールアドレス" %>
      </div>
      <div class="col-lg-8">
        <%= f.email_field :email, size: 50, class: "rounded", autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-2"></div>
      <div class="col-lg-2">
        <%= f.label :password, "パスワード" %>
      </div>
      <div class="col-lg-8">
        <%= f.password_field :password, size: 50, class: "rounded", autocomplete: "current-password" %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-2">
        <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
<% end %>
<%= render "admin/shared/links" %>