<%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
  <div class="container">
    <div class="row my-4">
      <div class="col-lg-5 text-center">
        <h4 class="text-color"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
      </div>
      <div class="col-lg-7"></div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3">
        <p>会員ID</p>
      </div>
      <div class="col-lg-9">
        <p><%= @customer.id %></p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3">
        <%= f.label :last_name, "氏名" %>
      </div>
      <div class="col-lg-2 mr-5">
        <%= f.text_field :last_name, class: "rounded" %>
      </div>
      <div class="col-lg-4">
        <%= f.text_field :first_name, class: "rounded" %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3">
        <%= f.label :last_name_kana, "フリガナ" %>
      </div>
      <div class="col-lg-2 mr-5">
        <%= f.text_field :last_name_kana, class: "rounded" %>
      </div>
      <div class="col-lg-4">
        <%= f.text_field :first_name_kana, class: "rounded" %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3">
        <%= f.label :postal_code, "郵便番号" %>
      </div>
      <div class="col-lg-9">
        <%= f.text_field :postal_code, class: "rounded" %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3">
        <%= f.label :address, "住所" %>
      </div>
      <div class="col-lg-9">
        <%= f.text_field :address,size: 65, class: "rounded" %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3">
        <%= f.label :telephone_number, "電話番号" %>
      </div>
      <div class="col-lg-9">
        <%= f.text_field :telephone_number, class: "rounded" %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="col-lg-9">
        <%= f.text_field :email, class: "rounded" %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-3">
        <%= f.label :is_active, "会員ステータス" %>
      </div>
      <div class="col-lg-9">
        <%= f.radio_button :is_active, 'true' %>
        <%= f.label :is_active, '有効', value: true %>
        <%= f.radio_button :is_active, 'false' %>
        <%= f.label :is_active, '退会', value: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <%= f.submit "変更を保存", class: "btn btn-success btn-lg" %>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
<% end %>