<div class="container">
  <div class="row">
    <div class="col-lg-3 text-center">
      <h4 class="text-color">注文履歴詳細</h4>
    </div>
    <div class="col-lg-9"></div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <h5>
        <%= link_to admin_customer_path(@customer.id),class: "text-dark" do %>
          <strong>購入者</strong>
        <% end %>
      </h5>
    </div>
    <div class="col-lg-9">
      <h5><%= @order.customer.last_name %> <%= @order.customer.first_name %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <h5><strong>注文日</strong></h5>
    </div>
    <div class="col-lg-9">
      <h5><%= l @order.created_at, format: :short %></h5>
    </div>
  </div>
  <div class="row">
   <div class="col-lg-3">
      <h5><strong>配送先</strong></h5>
    </div>
    <div class="col-lg-9">
      <h5>
        〒<%= @order.postal_code %> <%= @order.address %><br>
        <%= @order.customer.last_name %> <%= @order.customer.first_name %>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <h5><strong>支払方法</strong></h5>
    </div>
    <div class="col-lg-9">
      <h5><%= @order.payment_method_i18n %></h5>
    </div>
  </div>
  <%=form_with model: @order, url: admin_order_path(@order.id) do |f| %>
  <div class="row">
      <div class="col-lg-3">
        <h5><strong><%= f.label :status, "注文ステータス" %></strong></h5>
      </div>
      <div class="col-lg-2">
        <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
        <%#= f.select :category, Book.categories.keys.map {|k| [I18n.t("enums.book.category.#{k}"), k]} %>
      </div>
      <div class="col-lg-1">
        <%= f.submit "更新", class: "btn btn-success" %>
      </div>
  </div>
   <% end %>

  <%= form_with model: @orders_detail, url: admin_order_orders_detail_path(@orders_detail.id), method: :patch do |f| %>
  <div class="row">
    <div class="col-lg-9">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
        <%  @orders_details.each do |orders_detail| %>
          <tr>
            <td><%= orders_detail.item.name %></td>
            <td><%= orders_detail.add_tax_price.to_s(:delimited) %></td>
            <td><%= orders_detail.amount %></td>
            <td><%= orders_detail.subtotal %></td>
            <td><%= f.select :making_status, OrdersDetail.making_statuses.keys.map {|k| [I18n.t("enums.orders_detail.making_status.#{k}"), k]} %> <%= f.submit "更新", class: "btn btn-success" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <% end %>
</div>