<h3>注文履歴一覧</h3>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <%= link_to admin_order_path(order.id), class: "text-dark" do %>
          <td><%= l order.created_at %></td>
        <% end %>
        <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
        <!--購入者それぞれの注文した商品の合計の個数-->
        <% @amount_total = 0 %>
        <% order.orders_details.each do |orders_detail| %>
        <!--注文詳細の注文した商品の個数をそれぞれ取り出す-->
        <!--each文の中に注文の個数を足していく記述-->
        <% @amount_total += orders_detail.amount %>
        <% end %>
        <td><%= @amount_total %></td>
        <td><%= order.status_i18n %></td>
      </tr>
    <% end %>
  </tbody>
</table>