<%= form_with model: @address do |f| %>
  <div class="container">
    <div class="row mt-4 mb-5">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 text-center">
        <h4 class="text-color">配送先編集</h4>
      </div>
      <div class="col-lg-9"></div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3">
        <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
      </div>
      <div class="col-lg-9">
        <%= f.text_field :postal_code, class: "rounded" %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3">
        <%= f.label :address, "住所" %>
      </div>
      <div class="col-lg-9">
        <%= f.text_field :address,size: 60, class: "rounded" %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <%= f.label :name, "宛名" %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :name, class: "rounded" %>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-2">
        <%= f.submit "変更内容を保存", class: "btn btn-success btn-block" %>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
<% end %>