<div class="container">
  <div class="row">
    <h4 class="log-in" >新規会員登録</h4>
  </div>

      <%= form_with model: @customer, url: customer_registration_path, id: 'new_cutomer', class: 'new_cutomer' do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="form-row">
          <div class="col">
            <p>名前</p>
          </div>
          <div class="col">
            <%= f.label :last_name, "(性)" %>
          </div>
          <div class="col">
            <%= f.text_field :last_name %>
          </div>
          <div class="col">
            <%= f.label :first_name, "(名)" %>
          </div>
          <div class="col">
            <%= f.text_field :first_name, class: "form_text" %>
          </div>
        </div>
        <!--名前(カナ）-->
        <div class="form-row">
          <div class="col">
            <p>フリガナ</p>
          </div>
          <div class="col">
            <%= f.label :last_name_kana, "(セイ)" %>
          </div>
          <div class="col">
            <%= f.text_field :last_name_kana, class: "form_text"  %>
          </div>
          <div class="col">
            <%= f.label :first_name_kana, "(メイ)" %>
          </div>
          <div class="col">
            <%= f.text_field :first_name_kana, class: "form_text"  %>
          </div>
        </div>


        <div class="form-row">
          <div class="col">
              <%= f.label :email, "メールアドレス" %>
          </div>
          <div class="col">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <!--郵便番号-->
        <div class="form-row">
          <div class="col">
              <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
          </div>
          <div class="col">
            <%= f.text_field :postal_code %>
          </div>
        </div>

        <!--住所-->
        <div class="form-row">
          <div class="col">
              <%= f.label :address, "住所" %>
          </div>
          <div class="col">
            <%= f.text_field :address %>
          </div>
        </div>

        <!--電話番号-->
        <div class="form-row">
          <div class="col">
            <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
          </div>
          <div class="col">
            <%= f.text_field :telephone_number %>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </div>
          <div class="col">
          <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="form-row">
          <div class= "col">
            <%= f.label :password_confirmation, "パスワード確認用"%>
          </div>
          <div class= "col">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success btn-lg" %>
        </div>
      <% end %>
</div>
<h3>既に登録済みの方</h3>
<p><%= link_to "こちら", new_customer_session_path %> からログインしてください。</p>
