<div class="container">
  <h2>新規会員登録</h2>

      <%= form_with model: @customer, url: customer_registration_path, id: 'new_cutomer', class: 'new_cutomer' do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="row">
          <div class="col">
            <p>名前</p>
          </div>
          <div class="col">
            <%= f.label :（性） %>
          </div>
          <div class="col">
            <%= f.text_field :last_name %>
          </div>
          <div class="col">
            <%= f.label :（名） %>
          </div>
          <div class="col">
            <%= f.text_field :first_name %>
          </div>
        </div>
        <!--名前(カナ）-->
        <div class="row">
          <div class="col">
            <p>フリガナ</p>
          </div>
          <div class="col">
            <%= f.label :（セイ） %>
          </div>
          <div class="col">
            <%= f.text_field :last_name_kana %>
          </div>
          <div class="col">
            <%= f.label :（メイ） %>
          </div>
          <div class="col">
            <%= f.text_field :first_name_kana %>
          </div>
        </div>


        <div class="row">
          <div class="col">
              <p>メールアドレス</p>
          </div>
          <div class="col">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <!--郵便番号-->
        <div class="row">
          <div class="col">
              <p>郵便番号(ハイフンなし)</p>
          </div>
          <div class="col">
            <%= f.text_field :postal_code %>
          </div>
        </div>

        <!--住所-->
        <div class="row">
          <div class="col">
              <p>住所</p>
          </div>
          <div class="col">
            <%= f.text_field :address %>
          </div>
        </div>

        <!--電話番号-->
        <div class="row">
          <div class="col">
              <p>電話番号(ハイフンなし)</p>
          </div>
          <div class="col">
            <%= f.text_field :telephone_number %>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </div>
          <div class="col">
          <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="row">
          <div class= "col">
            <%= f.label :パスワード確認用 %>
          </div>
          <div class= "col">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success btn-lg" %>
        </div>
      <% end %>
</div>

<%= render "public/shared/links" %>
