<div class="container">
<div class="row">
    <h4 class="log-in" >ログイン</h4>
  </div>

        <p>会員の方はこちらからログイン</p>

        <%= form_with model: @customer, url: customer_session_path do |f| %>
          <div class="row">
            <div class="col">
              <%= f.label :メールアドレス %>
            </div>
            <div class="col">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= f.label :パスワード %>
            </div>
            <div class="col">
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>



          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
        <% end %>

        <p>会員登録がまだお済みでない方</p>
        <p><%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。</p>
 </div>

